{% extends 'baseback.html.twig' %}

{% block title %}New Abonnement{% endblock %}

{% block body %}
<div class="container-fluid contact bg-light py-5">
 <div class="container py-5">
    <h1>Create new Abonnement</h1>

    {{ include('abonnement/_form.html.twig') }}

    <a href="{{ path('app_abonnement_index') }}" class="btn btn-secondary">back to list</a>
    </div>
    </div>
{% endblock %}
